html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Orelega One', cursive;
    font-size: 18px;
}
